/*Style.CSS*/


/* All logos and logo sizes are edited in this CSS*/

.highlight-red .header-light .header-logo {
    background-image: url(../images/logo-dark-red.png);
}

.highlight-red .header-dark .header-logo {
    background-image: url(../images/logo-light-red.png);
}

.highlight-red .footer-light .footer-logo {
    background-image: url(../images/logo-dark-red.png);
}

.highlight-red .footer-dark .footer-logo {
    background-image: url(../images/logo-light-red.png);
}

.highlight-red .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light-red.png);
}

.highlight-red .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark-red.png);
}

.highlight-blue .header-light .header-logo {
    background-image: url(../images/logo-dark-blue.png);
}

.highlight-blue .header-dark .header-logo {
    background-image: url(../images/logo-light-blue.png);
}

.highlight-blue .footer-light .footer-logo {
    background-image: url(../images/logo-dark-blue.png);
}

.highlight-blue .footer-dark .footer-logo {
    background-image: url(../images/logo-light-blue.png);
}

.highlight-blue .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light-blue.png);
}

.highlight-blue .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark-blue.png);
}

.highlight-green .header-light .header-logo {
    background-image: url(../images/logo-dark-green.png);
}

.highlight-green .header-dark .header-logo {
    background-image: url(../images/logo-light-green.png);
}

.highlight-green .footer-light .footer-logo {
    background-image: url(../images/logo-dark-green.png);
}

.highlight-green .footer-dark .footer-logo {
    background-image: url(../images/logo-light-green.png);
}

.highlight-green .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light-green.png);
}

.highlight-green .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark-green.png);
}

.highlight-pink .header-light .header-logo {
    background-image: url(../images/logo-dark-pink.png);
}

.highlight-pink .header-dark .header-logo {
    background-image: url(../images/logo-light-pink.png);
}

.highlight-pink .footer-light .footer-logo {
    background-image: url(../images/logo-dark-pink.png);
}

.highlight-pink .footer-dark .footer-logo {
    background-image: url(../images/logo-light-pink.png);
}

.highlight-pink .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light-pink.png);
}

.highlight-pink .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark-pink.png);
}

.highlight-orange .header-light .header-logo {
    background-image: url(../images/logo-dark-orange.png);
}

.highlight-orange .header-dark .header-logo {
    background-image: url(../images/logo-light-orange.png);
}

.highlight-orange .footer-light .footer-logo {
    background-image: url(../images/logo-dark-orange.png);
}

.highlight-orange .footer-dark .footer-logo {
    background-image: url(../images/logo-light-orange.png);
}

.highlight-orange .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light-orange.png);
}

.highlight-orange .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark-orange.png);
}

.highlight-magenta .header-light .header-logo {
    background-image: url(../images/logo-dark-magenta.png);
}

.highlight-magenta .header-dark .header-logo {
    background-image: url(../images/logo-light-magenta.png);
}

.highlight-magenta .footer-light .footer-logo {
    background-image: url(../images/logo-dark-magenta.png);
}

.highlight-magenta .footer-dark .footer-logo {
    background-image: url(../images/logo-light-magenta.png);
}

.highlight-magenta .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light-magenta.png);
}

.highlight-magenta .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark-magenta.png);
}

.highlight-simple .header-light .header-logo {
    background-image: url(../images/logo-dark.png);
}

.highlight-simple .header-dark .header-logo {
    background-image: url(../images/logo-light.png);
}

.highlight-simple .footer-light .footer-logo {
    background-image: url(../images/logo-dark.png);
}

.highlight-simple .footer-dark .footer-logo {
    background-image: url(../images/logo-light.png);
}

.highlight-simple .menu-dark .sidebar-logo a {
    background-image: url(../images/logo-light.png);
}

.highlight-simple .menu-light .sidebar-logo a {
    background-image: url(../images/logo-dark.png);
}


.sidebar-logo a {
    background-repeat: no-repeat;
    background-size: 136px 16px;
    height: 20px;
}

.header .header-logo,
.footer .footer-logo {
    background-size: contain;
    width: 115px;
    margin-left: -57px;
}

.footer .footer-logo {
    background-size: 175px 20px;
    position: relative;
    width: 100%;
    height: 20px;
    left: auto;
    margin: 0 auto;
}

.menu-title-section {
    padding: 0px 35px;
}

.menu-title-section .menu-title {}

.menu-title-section p {
    font-size: 11px;
    color: #a2a2a5;
}

.sidebar-copyright img {
    margin: 0 auto;
}

.page-login>.preload-image {
    margin: 0 auto;
    margin-bottom: 50px;
}
.menu-profile-sec{

}
.menu-profile-sec .rounded-image{max-width: 75px;margin: 0 auto;box-shadow: 0px 10px 15px rgba(31, 42, 62, 0.15);margin-bottom: 12px;}
.menu-profile-sec .profile-title{
    font-size: 15px;
    color: #1F2B3F;
    margin-bottom: 0px;
}
.menu-profile-sec .user-city{
    font-size: 11px;
    color: #959599;
    margin: 0;
}
.menu-light .menu-items a.profile-links--signout{}
.menu-light .menu-items a.profile-links--signout em{
    color: #E44130;
}
.menu-light .menu-items a.profile-links--signout em .la-angle-right{
    display: none;
}

.menu-light .menu-items span.lang-flags{
    background: transparent;
    box-shadow: none;
    padding: 0;
}
.menu-light .menu-items span.lang-flags img{
    float: right;
}
.forgot-tagline{
    
line-height: 16px;
    
margin-top: 10px;
    
color: #A2A2A5;
    
font-size: 12px;
}
.page-list-items{
    list-style: none;
    padding: 10px 30px;
}
.page-list-items li{
    margin: 0;
    border-bottom: 1px solid #F5F5F5;
}
.page-list-items li:last-child{
    border:0
}
.page-list-items li a.flag{
    display: block;
    padding: 12px 42px;
    font-weight: 500;
    color: #85858A;
    background-repeat: no-repeat;
    background-position-y: center;
}
.page-list-items li a.flag.active{}
.page-list-items li a.flag.active .la.la-check{
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 18px;
    color: #E44130;
}
.page-list-items li a.flag.flag-en{
    background-image: url(../images/flag-en.png);
}
.page-list-items li a.flag.flag-ko{
    background-image: url(../images/flag-ko.png);
}
.page-list-items li a.flag.flag-jp{
    background-image: url(../images/flag-jp.png);
}
.latest-comics-all, .gallery-filter-results{
    margin-left: -7px;
    margin-right: -7px;
}
.latest-comics-all .comic-book-item,
.gallery-filter-results .comic-book-item{
    width: 33.33333%;
    float: left;
    padding: 6px;
    margin-bottom: 23px;
}
.latest-comics-all.details-page-episodes .comic-book-item, 
.gallery-filter-results.details-page-episodes .comic-book-item{

}
.latest-comics-all.details-page-episodes .comic-book-item a, 
.gallery-filter-results.details-page-episodes .comic-book-item a{
}
.latest-comics-all.details-page-episodes .comic-book-item a .episode-thumb-wrapper, 
.gallery-filter-results.details-page-episodes .comic-book-item a .episode-thumb-wrapper{
    overflow: hidden;
    position: relative;
    margin-bottom: 13px;
}
.latest-comics-all .comic-book-item img,
.gallery-filter-results .comic-book-item img{
    margin-bottom: 13px;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
.latest-comics-all.details-page-episodes .comic-book-item img,
.gallery-filter-results.details-page-episodes .comic-book-item img{
    margin-bottom: 0;
}

.latest-comics-all .comic-book-item .comic-book-item-title,
.gallery-filter-results .comic-book-item .comic-book-item-title{
    font-family: Roboto;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 11px;
    color: #1F2B3F;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.latest-comics-all.details-page-episodes .comic-book-item .comic-book-item-title,
.gallery-filter-results.details-page-episodes .comic-book-item .comic-book-item-title{
    text-align: center;
}
.latest-comics-all .comic-book-item .comic-book-item-auther,
.gallery-filter-results .comic-book-item .comic-book-item-auther{
    line-height: 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 9px;
    color: #8E8E93;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.latest-comics-all.details-page-episodes .comic-book-item .comic-book-item-auther,
.gallery-filter-results.details-page-episodes .comic-book-item .comic-book-item-auther{
    text-align: center;
}
.latest-comics-all.details-page-episodes .comic-book-item .thumb-episode-views,
.gallery-filter-results.details-page-episodes .comic-book-item .thumb-episode-views{
    position: absolute;
    top: 4px;
    right: 7px;
    color: #fff;
    font-family: Roboto;
    z-index: 2;99 */
    font-size:;
    font-size: 11px;
}
.latest-comics-all.details-page-episodes .comic-book-item .ranking-number{
    position: absolute;
    bottom: 13px;
    left: 0;
    background: red;
    width: 30px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 26px;
    text-align: center;
}
.latest-comics-all.details-page-episodes .comic-book-item .thumb-episode-views:before,
.gallery-filter-results.details-page-episodes .comic-book-item .thumb-episode-views:before{
    content:'';
    background:#F71D4B;
    width: 52px;
    height: 52px;
    display: block;
    position: absolute;
    z-index: -1;
    top: -17px;
    left: -13px;
    border-radius: 50px;
}

.latest-comics-all.details-page-episodes .comic-book-item .thumb-price,
.gallery-filter-results.details-page-episodes .comic-book-item .thumb-price{
    position: absolute;
    background: #1A7227;
    z-index: 999;
    bottom: 10px;
    left: 10px;
    padding: 2px 13px;
    line-height: normal;
    font-size: 11px;
    border-radius: 20px;
    color: #fff;
}
.latest-comics-all.details-page-episodes .comic-book-item .thumb-price.price-free,
.gallery-filter-results.details-page-episodes .comic-book-item .thumb-price.price-free{
    background: #1A7227;
}
.latest-comics-all.details-page-episodes .comic-book-item .thumb-price.price-paid,
.gallery-filter-results.details-page-episodes .comic-book-item .thumb-price.price-paid{
    background: #E44130;
}
 

body .active-touch .hideit{
    display: none !important;
}
.my-profile-list-items{}
.my-profile-list-items li{
    display: block;
    padding: 12px 0px;
    font-weight: 500;
    color: #85858A;
    background-repeat: no-repeat;
    background-position-y: center;
}
.my-profile-list-items li a{float: right;}
.my-profile-list-items li a > img{
    width: 35px;
    margin-top: -5px;
}

.footer-fixed{
    z-index: 9999;
    display: table;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}
.footer-fixed ul{
    padding: 0px 6%;
    margin: 0;
    list-style: none;
    background: #fff;
    box-shadow: 0px -10px 20px rgba(19, 59, 76, 0.08);
    height: 65px;
}
.footer-fixed ul li{
    width: 33.33333%;
    float: left;
    text-align: center;
    margin: 0;
    display: block;
    height: 65px;
}
.footer-fixed ul li.center-active{}
.footer-fixed ul li.center-active a{}
.footer-fixed ul li.center-active a span.la{
    width: 60px;
    height: 60px;
    background: #E44130;
    top: -30px;
    vertical-align: middle;
    padding: 17px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 9px 25px rgba(228, 65, 48, 0.5);
}
.footer-fixed ul li.center-active a span.la:before{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: block;
}
.footer-fixed ul li a span.la-edit:before{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: block;
}
.footer-fixed ul li.center-active a span.ft-menu-text{}
.footer-fixed ul li a{
    color: #B7B7BE;
    position: relative;
    width: 100%;
    height: 100%;
}
.footer-fixed.privacy-bound{
    background: #fff;
    display: block;
    box-shadow: 0px -10px 20px rgba(19, 59, 76, 0.08);
}
.footer-fixed.privacy-bound .fixed-footer-list-title{
    padding: 12px 12px 0;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
    color: #1F2B3F;
}
.footer-fixed.privacy-bound ul{
    height: auto;
    box-shadow: none;
    float: left;
    padding: 0;
    padding-left: 12px;
}
.footer-fixed.privacy-bound ul li{
    width: auto;
    display: inline-block;
    height: auto;
    margin-right: 5px;
}
.footer-fixed.privacy-bound ul li a{
    height: auto;
    line-height: 12px;
    display: block;
    padding: 3px 8px;
    border: 1px solid #ddd;
    border-radius: 22px;
    font-size: 9px;
    font-weight: 400;
    color: #1E293E;
}
.footer-fixed.privacy-bound ul li a:focus, .footer-fixed.privacy-bound ul li a:hover, .footer-fixed.privacy-bound ul li.active a{
    background: rgba(228, 65, 48, 0.1);
    border-color: rgba(228, 65, 48, 0.5);
}
.footer-fixed ul li a span.ft-menu-text{
    font-size: 9px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, 0%);
    /* color: #1f2b3f; */
}
.footer-fixed ul li a span.la{
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translate(-50%, 0%);
}
.footer-fixed ul li.active a span.la{
    
text-shadow: 0px 10px 15px rgba(228, 65, 48, 0.65);
    
color: #E44130;
}
.episode-play-section {
    text-align: center;
}
.episode-play-section .icon-play-story{
    margin: 0 auto;
}
.episode-play-section p{
    margin: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 6px;
}



.story-info{}
.story-info .story-info-left{
    float: left;
}
.story-info .story-info-left .story-cover{
    margin-right: 12px;
}
.story-info .story-info-left .story-cover img{
    max-width: 90px;
    float: left;
    height: 122px;
    object-fit: cover;
    border-radius: 11px;
    overflow: hidden;
    margin: 0;
}
.story-info .story-info-right{
    float: left;
}
.story-info .story-info-right .story-title{
    margin-bottom: 20px;
}
.story-info .story-info-right .story-title h2{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    margin-top: 22px;
    line-height: 19px;
    margin-bottom: 2px;
    color: #1F2B3F;
}
.story-info .story-info-right .story-title p{
    margin: 0;
    font-size: 9px;
    color: #8E8E93;
    line-height: 12px;
}
.story-info .story-info-right .author-details{
    float: left;
    padding-right: 15px;
    border-right: 1px solid #E1E1E1;
}
.story-info .story-info-right .story-views-sec{
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    font-family: Roboto;
    padding-left: 15px;
    text-align: center;
}
.story-info .story-info-right .story-views-sec .story-views-sec-tag{
    font-weight: normal;
    background: #F71D4B;
    color: #fff;
    padding: 2px 7px;
    line-height: 21px;
    border-radius: 50px;
    font-size: 10px;
}
.story-info .story-info-right .author-details .author-details-text-wrapper{
    float: left;
    height: 33px;
    padding: 6px 0;
}
.story-info .story-info-right .author-details img{
    width: 33px;
    height: 33px;
    object-fit: cover;
    float: left;
    border-radius: 50px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 0;
}
.story-info .story-info-right .author-details .author-title{
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    font-family: Roboto;
    max-width: 58px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story-info .story-info-right .author-details .author-start-date{font-size: 9px;font-weight: 300;line-height: 13px;}
.story-info .story-info-right .author-details .story-views-sec{}
ul.info-tags{
    list-style: none;
    padding: 0;
}
ul.info-tags li{
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
ul.info-tags li span{
    padding: 5px 15px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #E1E1E1;
    font-size: 9px;
    font-weight: 400;
}
ul.info-tags li a{}


.details-page-episodes{
    
}
.search-filters{}
.search-filters ul{
    list-style: none;
    padding: 0;
    margin-right: -5px;
    margin-left: -5px;
}
.search-filters ul li{
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 14px;
    position: relative;
    width: calc(33.333% - 10px);
}
.search-filters ul li > .select-caret{
    position: absolute;
    top: 50%;
    right: 10px;
    color: #E44130;
    font-size: 16px;
    transform: translate(0,-50%);
}
.search-filters ul li a, .search-filters ul li select{
    line-height: normal;
    border: 1px solid #E1E1E1;
    padding: 3px 27px 3px 10px;
    color: #1E293E;
    border-radius: 4px;
    position: relative;
    font-size: 12px;
    -webkit-appearance:none;
    appearance:none;
    background-color:#ffffff;
    line-height: 20px;
    width: 100%;
}
.search-filters ul li a:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #E44130;
    position: absolute;
    right: 10px;
    top: 10px;
}
.search-etc-tag{}
.search-etc-tag .search-etc-tag-input{
    padding: 7px 14px;
    border: 1px solid #E1E1E1;
    width: 100%;
    border-radius: 50px !important;
    font-size: 12px;
}
.info-tags.collapseable{}
.info-tags.collapseable li{}
.info-tags.collapseable li span{
    padding: 5px 25px 5px 13px;
    position: relative;
}
.info-tags.collapseable li span:after{
    content: "\f344";
    font-family: 'line-awesome' !important;
    position: absolute;
    right: 7px;
    top: 4px;
    line-height: normal;
    font-size: 12px;
}
.bottom-shadow{
    box-shadow: 0 11px 18px rgba(19, 59, 76, 0.08)
}
.position-relative{
    position: relative;
    padding-bottom: 20px !important;
}
.btn-search{
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
}
.content.search-results-section{}
.content.search-results-section h3.srl-section-heading{
    margin-top: 22px;
    margin-bottom: 10px;
    font-size: 19px;
    font-family: Roboto;
    color: #8E8E93;
}
.content.search-results-section .search-results-list{}
.content.search-results-section .search-results-list ul{
    padding: 0;
    list-style: none;
}
.content.search-results-section .search-results-list> ul> li{
    display: table;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    border-radius: 5px;
}
.content.search-results-section .search-results-list> ul> li > a{
    width: 100%;
}
.content.search-results-section .search-results-list> ul> li.show-overlay-btns .long-press-overlay{
    display:block
}
.content.search-results-section .search-results-list ul li .long-press-overlay{
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #E44130;
    border-radius: 5px;
    display: none;
}
.content.search-results-section .search-results-list ul li .long-press-overlay > ul{
    text-align: center;
    margin-top: 32px;
}
.content.search-results-section .search-results-list ul li .long-press-overlay > ul > li{
    display: inline-block;
    margin: 0 8px;
}
.content.search-results-section .search-results-list ul li .long-press-overlay > ul > li > a{
    border: 1px solid #1E293E;
    font-size: 11px;
    line-height: normal;
    background: #fff;
    padding: 5px 15px;
    border-radius: 40px;
    color: #1E293E;
}
.content.search-results-section .search-results-list ul li .srl-image-wrapper{
    margin-right: 10px;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}
.content.search-results-section .search-results-list ul li .srl-image-wrapper img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(19, 59, 76, 0.2);
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper{
    float: left;
    display: block;
    position: relative;
    padding-right: 40px;
    padding-left: 10px;
    vertical-align: middle;
    width: 100%;
    padding-top: 14px;
}.content.search-results-section .search-results-list ul.my-library li .srl-right-wrapper{
    
padding-top: 8px;
    
padding-left: 15px;
    
display: table-cell;
    
height: 100%;
    
float: none;
    
vertical-align: top;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-right-author-details{}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-right-author-details .srl-author-thumb{
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-right: 10px;
    float: left;
    border: 1px solid #eee;
    border-radius: 50px;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-right-author-details span{
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    color: #8E8E93;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-right-author-details .srl-item-title{}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-item-title{
    color: #1F2B3F;
    font-size: 17px;
    font-family: Roboto;
    line-height: 20px;
    font-weight: normal;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper p{
    font-size: 10px;
    font-weight: normal;
    color: #8E8E93;
    font-family: Roboto;
    margin-bottom: 0;
    line-height: 13px;
    max-height: 26px;
    overflow: hidden;
}

.content.search-results-section .search-results-list ul li .srl-right-wrapper p.creation-date{
    margin-bottom: 2px;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper p.publishing-date{
    margin-bottom: 2px;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper > p > span{
    color: #1F2B3F;
    font-weight: bold;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper div.item-status-tag{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    color: #fff;
    padding: 0 7px;
    border-radius: 40px;
    font-size: 9px;
    line-height: 18px;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper div.item-status-tag.saved-tag{
    background: #1F2B3F;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper div.item-status-tag.published-tag{
    background: #E44130;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-states-fixed{
    position: absolute;
    right: 0;
    top: 0;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-states-fixed .srl-stats-comments{
    text-align: center;
    line-height: normal;
    margin-bottom: 7px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-states-fixed .srl-stats-likes{
    text-align: center;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-states-fixed .la, .content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-states-fixed .zmdi{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #e44130;
}
.content.search-results-section .search-results-list ul li .srl-right-wrapper .srl-states-fixed span.count{
    font-size: 9px;
    line-height: normal;
    color: #1F2B3F;
}
.long-press-overlay .lpo-red{}
.content.search-results-section .search-results-list ul li .long-press-overlay .lpo-red a{
    border-color: #E44130;
    color: #E44130;
}
.button.btn-border-black{
    border: 2px solid #1f2b3f;
    background: transparent;
    color: #1f2b3f;
}
.button.btn-border-black:hover{
    color:#fff
}
.red-block-heading{
    display: block;
    text-align: center;
    background: #E44130;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-family: Roboto;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 24px;
}
.story-title-label{
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    color: #8e8e93;
    font-size: 11px;
    line-height: 11px;
}
.story-title-value{
    color: #1f2b3f;
    text-align: center;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
}
a.upload-file-block{
    width: 170px;
    height: 170px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    padding: 30px 0;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 14px;
}
a.upload-file-block img{
    width: 30px;
    margin: 0 auto;
}
a.upload-file-block .upload-file-block-red-text{
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
    color: #e44130;
}
a.upload-file-block p{
    font-size: 11px;
    font-family: Roboto;
    font-weight: 300;
    color: #8e8e93;
    margin-bottom: 0;
}
a.upload-file-block .size-guide{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 9px;
    color: #8e8e93;
}

.recommendation-link-form{}
.recommendation-link-form .input-simple-1.blmani-design{
}
.recommendation-link-form .input-simple-1.blmani-design em, .additional-title-label{
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
    color: #1f2b3f;
    padding-left: 15px;
}
.recommendation-link-form .input-simple-1.blmani-design input{
    height: 28px;
    line-height: 28px;
    border: 1px solid #e3e3e3 !important;
    padding: 10px 15px;
    font-size: 11px;
    border-radius: 60px !important;
}

.recommendation-link-form .input-simple-1.blmani-design .textarea-simple-1{
    height: 128px;
    border: 1px solid #e3e3e3 !important;
    padding: 15px;
    font-size: 11px;
    border-radius: 10px !important;
    line-height: 15px;
    font-style: italic;
}
.hash-tags-wrapper{
    background: #F1F1F1;
    padding: 15px;
    border-radius: 6px;
}
.hash-tags-wrapper .search-etc-tag{
    margin-bottom: 10px;
}
.hash-tags-wrapper .search-etc-tag .search-etc-tag-input{
}
.hash-tags-wrapper .info-tags{}
.recommended-last-btns{}
.recommended-last-btns a.button-red{
    box-shadow: 0px 7px 25px rgba(228, 65, 48, 0.50);
}
.recommended-last-btns a.btn-cancle{
    text-transform: uppercase;
    color: #1f2b3f;
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
}

.half-transparent{
    background: rgba(255, 255, 255, 0.5)
}
.story-board{
    display: table;
    width: 100%;
    border: 2px dashed #B7B7BE;
    border-radius: 10px;
}
.story-board .story-item-image{
    /* display: table-cell; */
    min-height: 200px;
    padding: 12px;
}
.story-board .story-item-image .search-etc-tag-input{
    width: 100%;
    line-height: 28px;
    height: 28px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 40px !important;
    padding: 12px;
}
.story-board .story-item-image img{
    max-width: 100%;
}
.story-board .story-item-controls{
    display: table-cell;
    width: 70px;
    text-align: center;
    position: relative;
    border-left: 2px dashed #B7B7BE;
}
.story-board .story-item-controls .controls-list{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.story-board .story-item-controls .controls-list a{
    font-size: 25px;
    color: #B4B4BB;
    margin-bottom: 10px;
    line-height: normal;
}
.story-board .story-item-controls .controls-list a.add-img-btn{
    font-size: 40px;
    color: #E44130;
}
.story-board .story-item-controls .controls-list a.add-img-btn span.la{}
.story-board .story-item-controls .controls-list a:last-child{
    margin-bottom:0;
}
.story-board .story-item-controls .controls-list a span.la{}
.menu-flyin{}
.menu-flyin .modal-footer .modal-btn{bottom: -5px;display: inline-block;background: #E44130;color: #fff;font-size: 11px;font-family: Roboto;font-weight: 400;line-height: 28px;padding: 2px 30px 0 30px;border-radius: 28px;}
.menu-flyin .modal-heading{
    font-weight: 400 !important;
    font-family: Roboto;
    font-size: 15px;
    margin: 0;
    height: 45px;
    line-height: 45px;
    box-shadow: 0px 0px 18px rgba(30, 41, 62, 0.08);
}


.menu-flyin .modal-body{
    padding: 10px 20px;
}
.menu-flyin .modal-footer{
    position: relative;
    height: 20px;
    text-align: center;
}
.loading-gif {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(110, 110, 110, 0.45);
    z-index: 99;
}
.loading-gif img{
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide-author{
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
}
.owl-carousel .owl-item .slide-author img{
    width: 30px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}
.owl-carousel .owl-item .slide-author span{
    color: #fff;
    font-size: 9px;
    display: block;
    text-align: center;
}
.page-list-items.settings-list{}
.page-list-items.settings-list li{}
.page-list-items.settings-list li a{
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #85858A;
}
.btn.align-btn{
        font-size: 11px;
    color: #1f2b3f;
    font-weight: 500;
    border: 1px solid #E1E1E1;
    line-height: normal;
    display: inline-block;
    padding: 4px 17px;
    border-radius: 50px;
}
.btn.align-btn i{
    color: #e44130;
    font-size: 15px;
    line-height: 17px;
    vertical-align: middle;
}
.center-slider.featured-slider{

}
.owl-carousel.featured-slider.owl-drag .owl-item{
    box-shadow: none;
    border-radius: 0;
}
.center-slider.featured-slider .owl-item > div{
    width: 140px;
}
.center-slider.featured-slider .owl-item > div img{
    height: 140px;
    object-fit: cover;
    /* box-shadow: 0px 10px 15px hsla(219, 33%, 18%, 0.15); */
    margin-bottom: 13px;
    border-radius: 11px;
}
.center-slider.featured-slider .owl-item > div h3{

width: 100%;

white-space: nowrap;

overflow: hidden;

text-overflow: ellipsis;

font-family: Roboto;

margin-bottom: 0;

line-height: normal;
}
.center-slider.featured-slider .owl-item > div span{

font-size: 9px;

color: #8E8E93;

line-height: normal;
}
.genre-tags-slider.genre-slider.owl-drag{
    border: 0;
}
.genre-tags-slider.genre-slider.owl-drag .owl-item{
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 10px;
}
.genre-tags-slider.genre-slider.owl-drag > div{}
.genre-tags-slider.genre-slider.owl-drag > div a{
    font-size: 11px;
    color: #1F2B3F;
    text-transform: capitalize;
    line-height: 28px;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-radius: 40px;
    font-weight: 400;
}
.genre-tags-slider.genre-slider.owl-drag > div a span{

}
.genre-tags-slider.genre-slider.owl-drag > div a.gallery-filter-active{
background: rgba(228, 65, 48, 0.15);   
color: #E44130;
}
.gallery-filter-results.gallery-filter{
    margin: 0 15px;
}
.gallery-filter-results.gallery-filter a{
    width: 100%;
}



.below-header-links{
    padding: 0;
    list-style: none;
    text-align: center;
    background: #F5F5F5;
}
.below-header-links li{
    display: inline-block;
    margin: 0;
}
.below-header-links li a{
    display: block;
    padding: 9px 9px 9px 9px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #8E8E93;
    margin: 0 15px;
    letter-spacing: 1px;
    position: relative;
    font-weight:500;
}
.below-header-links li a:after{
    content:'';
    height:3px;
    width:100%;
    background-color:transparent;
    position:absolute;
    bottom:0;
    left:0;
}
.below-header-links li.active a:after, .below-header-links li a:hover::after, .below-header-links li a:active::after{
    background-color:#E44130;
}

.below-header-links li.active a, .below-header-links li a:hover, .below-header-links li a:focus{
    color:#1F2B3F;
}
@media screen and (max-width: 650px){
    .latest-comics-all .comic-book-item img,
    .gallery-filter-results .comic-book-item img{
        height: 200px;
    }
}
@media screen and (max-width: 500px){
    .latest-comics-all .comic-book-item img,
    .gallery-filter-results .comic-book-item img{
        height: 150px;
    }
}
@media screen and (max-width: 400px){
    .latest-comics-all .comic-book-item img,
    .gallery-filter-results .comic-book-item img{
        height: 110px;
    }
    .below-header-links li a{
    margin: 0 5px;
}
}
@media screen and (max-width: 350px){
    .latest-comics-all .comic-book-item img,
    .gallery-filter-results .comic-book-item img{
        height: 80px;
    }
    .below-header-links li a{}
}
.latest-comics-all.top-ranked-row-2 .comic-book-item{
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}
.latest-comics-all.top-ranked-row-2.top-ranked-row-3 .comic-book-item{
    width: 33.333%;
}
.latest-comics-all.top-ranked-row-2 .comic-book-item a{
}
.latest-comics-all.top-ranked-row-2 .comic-book-item a .episode-thumb-wrapper{
    position: relative;
    border-radius: 10px;
}
.latest-comics-all.top-ranked-row-2.top-ranked-row-3 .comic-book-item a .comic-book-item-title, 
.latest-comics-all.top-ranked-row-2.top-ranked-row-3 .comic-book-item a .comic-book-item-auther{
    text-align:left
}
.latest-comics-all.top-ranked-row-2 .comic-book-item a .episode-thumb-wrapper .overlay-content-ranked{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 50px 10px 14px 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+61,000000+100&0+0,0.51+61,0.85+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.51) 61%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 61%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 61%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
}
.latest-comics-all.top-ranked-row-2 .comic-book-item a .episode-thumb-wrapper .overlay-content-ranked .comic-book-item-title{
    text-align: left;
    color: #fff;
    line-height: 14px;
    font-weight: 300;
}
.latest-comics-all.top-ranked-row-2 .comic-book-item a .episode-thumb-wrapper .overlay-content-ranked .ranking-number{
    display: block;
    float: left;
    ft; */
    width: 30px;
    height: 24px;
    width: 30px;
    background: #ed474a;
    text-align: center;
    position: absolute;
    color: #fff;
    left: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
}
.latest-comics-all.top-ranked-row-2 .comic-book-item a .episode-thumb-wrapper .overlay-content-ranked .comic-book-item-auther{
    text-align: left;
    color: #fff;
    float: left;
    font-weight: 300;
}
.add-tags-input-wrapper{
    position: relative;
}
.add-tags-input-wrapper .search-etc-tag-input{}
.add-tags-input-wrapper > a{
position: absolute;
right: 0;
top: 0;
width: 40px;
text-align: center;
display: block;
}
.add-tags-input-wrapper > a > .la{
    font-size: 18px;
    line-height: 30px;
    display: block;
    color: #ed5464;
    font-weight: bold;
}